In [ ]:
import pandas as pd
data = pd.read_csv("datasetExample.csv")
data.head()
data.describe()

       CustomerID  Rating(1-5)         Bill    NoOfPax  EstimatedSalary
count   11.000000    11.000000    11.000000  11.000000        11.000000
mean     5.818182     3.636364  1173.636364   1.090909     60981.272727
std      3.060006     2.203303  2791.829052   3.884702    120032.587278
min      1.000000    -1.000000 -6755.000000 -10.000000    -99999.000000
25%      3.500000     2.500000  1117.000000   2.000000     25561.000000
50%      6.000000     4.000000  1322.000000   2.000000     45000.000000
75%      8.500000     5.000000  2499.500000   3.000000    103888.500000
max     10.000000     7.000000  3456.000000   4.000000    345673.000000

In [ ]:
import pandas as pd
numeric_data = data.select_dtypes(include=['number'])

Q1 = numeric_data.quantile(0.25)
Q3 = numeric_data.quantile(0.75)
IQR = Q3 - Q1

outliers = (numeric_data < (Q1 - 1.5 * IQR)) | (numeric_data > (Q3 + 1.5 * IQR))
print("Outliers per column:\n", outliers.sum())
outlier_rows = data[outliers.any(axis=1)]
print("\nRows with outliers:\n", outlier_rows)

Outliers per column:
 CustomerID         0
Rating(1-5)        0
Bill               1
NoOfPax            2
EstimatedSalary    3
dtype: int64

Rows with outliers:
     CustomerID Age_Group  Rating(1-5)      Hotel FoodPreference  Bill  \
6            7       35+            4     RedFox     Vegetarian  1000
7            8     20-25            7  LemonTree            Veg  2999
8            9     25-30            2       Ibis        Non-Veg  3456
9            9     25-30            2       Ibis        Non-Veg  3456
10          10     30-35            5     RedFox        non-Veg -6755

    NoOfPax  EstimatedSalary Age_Group.1
6        -1            21122         35+
7       -10           345673       20-25
8         3           -99999       25-30
9         3           -99999       25-30
10        4            87777       30-35